n8n/projects/2025-08-n8n-video-automation-workflow/Auto-Generate-Videos-test.json
{
  "name": "Auto Generate Videos test",
  "nodes": [
    {
      "parameters": {
        "formTitle": "videoTopic",
        "formDescription": "Video topic, automatically generate short videos",
        "formFields": {
          "values": [
            {
              "fieldLabel": "topic"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "c0017566-2fc6-479c-ac60-dca1f27e347f",
      "name": "On form submission",
      "webhookId": "f3d63c47-f7d8-47c6-ab01-afddce56acb1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Automatically generate videos based on requirements",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=你是一位資深自媒體運營專家兼文案策劃師，深諳 YouTube Shorts 平台調性與用户心理。\n任務: 針對\"{{ $json.topic }}\" 主題，寫一份100-120字的短視頻文案，並給出不超過10字的標題。\n要求：\n1. 模仿以下結構：\n   - 【鈎子】3秒內抓住注意力\n   - 【核心要點】3個關鍵賣點或利益點\n   - 【CTA】一句行房號召\n2. 嚴格輸出 JSON，且僅包含title和content兩含字段：\n{\n  \"title\": \"在此填入視頻標題\",\n  \"content\": \"在此填入文案內容\"\n}\n  "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "955074cc-4e3a-4908-9dd6-82147377441a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        64,
        208
      ],
      "id": "8a947462-9c30-4414-9caa-15c91a15dd54",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "CFroYW6rIFvxX93L",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"標題\",\n  \"content\": \"內容\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        384,
        208
      ],
      "id": "609fa769-86a5-4dd8-be6d-59e9b7a10d17",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/videos",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"video_subject\": \"{{ $json.output.title}}\",\n    \"video_script\": \"{{ $json.output.content}}\",\n    \"video_terms\": \"sport\",\n    \"video_aspect\": \"9:16\",\n    \"video_concat_mode\": \"random\",\n    \"video_transition_mode\": \"None\",\n    \"video_clip_duration\": 3,\n    \"video_count\": 1,\n    \"video_source\": \"pexels\",\n    \"video_materials\": null,\n    \"video_language\": \"\",\n    \"voice_name\": \"zh-CN-XiaoxiaoNeural-Female\",\n    \"voice_volume\": 1.0,\n    \"voice_rate\": 1.0,\n    \"bgm_type\": \"random\",\n    \"bgm_file\": \"\",\n    \"bgm_volume\": 0.2,\n    \"subtitle_enabled\": true,\n    \"subtitle_position\": \"bottom\",\n    \"custom_position\": 70.0,\n    \"font_name\": \"MicrosoftYaHeiBold.ttc\",\n    \"text_fore_color\": \"#FFFFFF\",\n    \"text_background_color\": true,\n    \"font_size\": 60,\n    \"stroke_color\": \"#000000\",\n    \"stroke_width\": 1.5,\n    \"n_threads\": 2,\n    \"paragraph_number\": 1\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        0
      ],
      "id": "c82537e9-a36c-484a-9e6f-cbe1eff8534c",
      "name": "Auto Generate Videos"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        768,
        0
      ],
      "id": "39810cf3-4fcb-4b62-b8c5-ab0c589901c9",
      "name": "Wait",
      "webhookId": "dd532cb2-c104-41e8-86b0-b01862eb6941"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8080/api/v1/tasks/{{$node[\"Auto Generate Videos\"].json[\"data\"][\"task_id\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        976,
        16
      ],
      "id": "edae5209-80c1-4458-b2d9-e0666fc5a825",
      "name": "process status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3c3bfecc-774c-4911-a0ca-c68d5f7a7584",
              "leftValue": "={{ $json.data.progress }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1184,
        16
      ],
      "id": "2120328b-5974-4458-bca2-7fccce77f06b",
      "name": "If"
    },
    {
      "parameters": {
        "url": "={{ $json.data.videos[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1392,
        -64
      ],
      "id": "4fbf9072-082a-4753-86ee-555bde393635",
      "name": "download video"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('AI Agent').item.json.output.title }}",
        "regionCode": "CA",
        "categoryId": "24",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1600,
        -64
      ],
      "id": "1cea6198-ad1a-4fdc-a731-a5849016fd20",
      "name": "Upload a video",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "DzpmuHGwtBELfeLu",
          "name": "YouTube account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Auto Generate Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto Generate Videos": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "process status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "process status": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "download video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download video": {
      "main": [
        [
          {
            "node": "Upload a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a video": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "60d9f6c9-28a0-4a63-bb9d-ae6170691392",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "407f27085d2baadfb03e46bd93b2219e828fdf188e7d403cf83d75955edc1d4d"
  },
  "id": "KjDMmHrhme06bXq3",
  "tags": []
}